<mini-cart>
	{{#props.basket.product_items.length}}
		<div style="{{%styles.minicart}}">
			<h2 style="{{%styles.minicartHeadline}}">Your cart</h2>
			{{#props.basket.product_items}}
				<product-line-item data-product-item="{{+.}}"></product-line-item>
			{{/props.basket.product_items}}
			<div style="{{%styles.orderSubtotal, styles.flexCenter, styles.containerPadding}}">
				<span>Order Subtotal</span>
				<span>{{props.basket.product_sub_total}} {{props.basket.currency}}</span>
			</div>
			<div style="{{%styles.flexCenter, styles.containerPadding}}">
				<z-link type="button" href="#">View Cart</z-link>
			</div>
			<div style="{{%styles.flexCenter, styles.containerPadding}}">
				<z-link type="link" href="#">or Go Straight to Checkout</z-link>
			</div>
		</div>
	{{/props.basket.product_items.length}}
	<form class='add-product-form'>
		<input type="text" name="productid" placeholder="Product id" value="701642853695"/>
		<button>Add product</button>
	</form>
	<form class='add-product-form'>
		<input type="text" name="productid" placeholder="Product id" value="701642867098"/>
		<button>Add product</button>
	</form>

	<script>
		(function () {
			Zino.import('z-link.html');
			Zino.import('product-line-item.html');
			return {
				mount: function () {
					Zino.on('basket-updated', function(basket) {
						this.setProps('basket', basket);
					}.bind(this));
				},
				unmount: function () {
					Zino.off('basket-updated');
				},
				events: {
					'.add-product-form': {
						'submit': function addProduct(e) {
							e.preventDefault();
							if(this.productid.value) {
								Zino.trigger('add-product-to-basket', this.productid.value);
							}
						}
					}
				},
				styles: {
					minicart: {
						padding: 15,
						border: '1px solid #aaa',
						boxShadow: '-2px 3px 3px rgba(0, 0, 0, 0.3)',
						width: 300,
						display: 'flex',
						flexDirection: 'column'
					},
					minicartHeadline: {
						marginBottom: 10,
						marginTop: 0
					},
					flexCenter: {
						display: 'flex',
						flexDirection: 'column',
						alignItems: 'center'
					},
					orderSubtotal: {
						fontWeight: 'bold',
						marginBottom: 5,
						borderBottom: '1px solid #aaa'
					},
					containerPadding: {
						padding: '10px 0'
					}
				}
			}
		}())
	</script>
</mini-cart>