<product-line-item>
	<div style="{{%styles.productLineItem}}">
		<div>
			<product-image src="{{props.productImage}}"></product-image>
		</div>
		<div style="{{%styles.productInformation}}">
			<div>
				<span style="{{%styles.productName}}">{{props.productItem.product_name}}</span>
			</div>
			<div>
				<span>Color</span>
				<span>{{props.color}}</span>
			</div>
			<div>
				<span>Size</span>
				<span>{{props.size}}</span>
			</div>
			<div>
				<span>Qty</span>
				<span>{{props.productItem.quantity}}</span>
				<span>{{props.productItem.price}}</span>
			</div>
		</div>
	</div>
	<script>
		(function () {
			Zino.import('product-image.html');
			function getCurrentSelectedAttribute(product, attributeid) {
				var attribute, value;

				attribute = product.variation_attributes.find(function(attribute) {
					return attribute.id === attributeid
				});
				if(attribute) {
					value = attribute.values.find(function(value) {
						return value.value === product.variation_values[attributeid];
					});
				}

				return value;
			}

			return {
				mount: function () {
					Zino.trigger('get-product', this.props.productItem.product_id);

					Zino.on('product-received', function(products) {
						if(!this.props.product) {
							var product = products[this.props.productItem.product_id];
							if(product) {
								this.setProps({
									product: product,
									productImage: product.image_groups[2].images[0].link,
									color: getCurrentSelectedAttribute(product, 'color').name,
									size: getCurrentSelectedAttribute(product, 'size').name
								});
							}
						}
					}.bind(this));
				},
				unmount: function () {
					Zino.off('product-received');
				},
				styles: {
					productLineItem: {
						display: 'flex',
						paddingBottom: 10,
						marginBottom: 10,
						borderBottom: '1px solid #aaa'
					},
					productName: {
						color: 'green'
					},
					productInformation: {
						paddingLeft: 20
					}
				}
			}
		}())
	</script>
</product-line-item>