<z-link>
	<a href="{{href}}" style="{{%styles.link}}">{{body}}</a>
	<script>
		(function () {
			return {
				styles: {
					link: function() {
						var linkStyling = {};
						var defaultStyling = {
							textDecoration: 'none'
						}

						switch (this.props.type) {
							case 'button':
								linkStyling = {
									backgroundColor: '#84bd00',
									border: '1px solid #608a00',
									borderRadius: 2,
									color: '#fff',
									cursor: 'pointer',
									display: 'inline-block',
									padding: '5px 20px'
								};

								break;
							case 'link':
								linkStyling = {
									color: '#84bd00',
									outline: 'medium none',
									overflow: 'hidden',
									textDecoration: 'none'
								};
								break;
						}
						
						// This will break IE ;/
						return Object.assign(defaultStyling, linkStyling);
					}
				},
				mount: function() {
					this.setProps('type', this.attributes.type.value);
				}
			}
		}())
	</script>
</z-link>